
.active {
  font-style: normal;
  font-weight: bold;
}

.pending {
  font-style: italic;
}

.green {
  color: green;
}

.orange {
  color: orange
}

.sold-out {
  color: red
}

.few-places {
  color: orange
}
