<nav>
  <ul>
    <li>
      <strong>
        <a routerLink="/">
          <app-title></app-title>
        </a>
      </strong>
    </li>
  </ul>
  <ul>
    <li>
      <a routerLink="agencies">➡️ Agencies</a>
    </li>
    <li>
      <a routerLink="trips">➡️ Trips</a>
    </li>
    <li>
      <a routerLink="auth/login">🔐 Log In</a>
    </li>
    <li>
      <a routerLink="/auth/register">🔏 Register</a>
    </li>
    <li>
      <a routerLink="/about">ℹ️ About</a>
    </li>
    <li>
      <a routerLink="/contact">📧 Contact</a>
    </li>
  </ul>
</nav>
